<%- include('header') -%>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

<script>
  hljs.highlightAll();   
  
  async function handleRating(rate, snippetId) {
    const req = await fetch((window.location.href + '/' + snippetId +'/rate'), {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({
        rating: rate
      })
    })
    if (req.status === 200) {

      const j =  req.text()
      document.getElementById("star-value-" + snippetId).innerHTML = `RATING: ${rate} stars`
      window.location.href = '/snippet'
      
    }
    }

  async function handleDelete(url) {
    const req =await fetch(url, {
      method: 'DELETE',
      headers: {'Content-Type': 'application/json'},
    })
    if (req.status === 204) {
      window.location.href = '/snippet'

    }
  }


</script>

<div class="snippets-page-head">
  <h1>Snippets</h1>
  <p>With Snippet Manager, you can easily create, read, update, and delete your code snippets with full CRUD functionality.</p>
  <% if (user) { %>
    <button class="create-link" onclick="location.href='/snippet/create'">Create New Snippet</button>
  <% } %> 
  
  <% if (!snippets || snippets.length === 0) { %>  <p>No snippet was found.</p> <% } %> 
</div>  
  <%  if (snippets) { %>
    <div class="snippets-page<%= (snippets.length === 1) ? ' single' : '' %>">
      <% for (var i = 0; i< snippets.length; i++) { %>
        <% var snippet = snippets[i] %>

        <div class="snippet" id="snippet">
          <div class="snippet-top" id="<%= snippet.id %>">
          
          <div class="snippet-title" id="snippet-title"><h4> <%= snippet.title %> </h4> </div>

          <% if (user) { %>
            <% if (user.id === snippet.createdBy) { %>
              <div class="snippet-rating-user"> <p> Rated: <%=snippet.rating%> stars </p> <p>Snippet is: <%=snippet.isPublic ? "Public" : "Private" %></p> </div>
              <div class="edit-delete-btns" id="edit-delete-btns">
                <button class="edit-link" onclick="location.href='/snippet/<%= snippet.id %>/update'">Edit</button>
                <button class="delete-link" onclick="handleDelete('/snippet/<%= snippet.id %>/delete')">Delete</button>
              </div>

            <% } else { %>
              <% if (user.ratedSnippets.includes(snippet.id)) { %>
                <div class="snippet-rating" id="snippet-rating" data-snippet-id="snippet-<%=i%>">
                  <p id="star-value-<%= snippet.id %>">RATING: <%= snippet.rating >= 5 ? '5' : snippet.rating %> stars</p>
                <div class="edit-delete-btns" id="edit-delete-btns">
                  <p> You rated this snippet </p>
                </div>
                </div>
              <% } else { %>
              <div class="snippet-rating" id="snippet-rating" data-snippet-id="snippet-<%=i%>">
                <p id="star-value-<%= snippet.id %>">RATING: <%= snippet.rating >= 5 ? '5' : snippet.rating %> stars</p>
                <div class="stars" id="star<%= i %>">
                  <input class="star-<%= snippet.id %>-5" type="radio" id="star<%= snippet.id %>5" name="rating" value="5" <%= snippet.rating >= 5 ? 'checked' : '' %>> 
                  <label class="rate" for="star<%= snippet.id %>5" title="5 stars" onclick='handleRating(5, "<%=snippet.id%>")'></label>
                  <input class="star-<%= snippet.id %>-4" type="radio" id="star<%= snippet.id %>4" name="rating" value="4" <%= 5 > snippet.rating && snippet.rating >= 4 ? 'checked' : '' %>>
                  <label class="rate" for="star<%= snippet.id %>4" title="4 stars" onclick='handleRating(4, "<%=snippet.id%>")'></label>
                  <input class="star-<%= snippet.id %>-3" type="radio" id="star<%= snippet.id %>3" name="rating" value="3" <%= 4 > snippet.rating && snippet.rating >= 3 ? 'checked' : '' %>>
                  <label class="rate" for="star<%= snippet.id %>3" title="3 stars" onclick='handleRating(3, "<%=snippet.id%>")'></label>
                  <input class="star-<%= snippet.id %>-2" type="radio" id="star<%= snippet.id %>2" name="rating" value="2" <%= 3 > snippet.rating && snippet.rating >= 2 ? 'checked' : '' %>>
                  <label class="rate" for="star<%= snippet.id %>2" title="2 stars" onclick='handleRating(2, "<%=snippet.id%>")'></label>
                  <input class="star-<%= snippet.id %>-1" type="radio" id="star<%= snippet.id %>1" name="rating" value="1" <%= 2 > snippet.rating && snippet.rating >= 1 ? 'checked' : '' %>>
                  <label class="rate" for="star<%= snippet.id %>1" title="1 star" onclick='handleRating(1, "<%=snippet.id%>")'></label>
                </div>
              </div>
          <% }} %>
        <%}%>
          </div>
          <div class="snippet-info" id="snippet-info">
          <div> <h4> Creator: </h4><p><%= snippet.creator %> </p></div>
          <div> <h4> Created at: </h4> <p>  <%= snippet.createdAt.toLocaleString('en-US', {weekday: 'long' , month: 'numeric' , day: 'numeric' ,
                      year: 'numeric' , hour: 'numeric' , minute: 'numeric' }) %>
          </p></div>
          <div> <h4> Last updated: </h4> <p> <%= snippet.updatedAt.toLocaleString('en-US', {weekday: 'long' , month: 'numeric' , day: 'numeric' ,
                      year: 'numeric' , hour: 'numeric' , minute: 'numeric' }) %>
          </p></div>
          <div> <h4> Langauge: </h4><p> <%= snippet.language %> </p> </div>
        </div>
          <div class="snippet-description" id="snippet-description"> <h4> Discription: </h4> <p> <%= snippet.description %> </p> </div>
          <pre class="code"><code class="<%= snippet.language %>"><%= snippet.snippet %></code></pre>
        </div>
      
      <% } %>
    </div>
    <% } %>
